/*
I suck at css pls no bully :(
*/

:root{
    --color: #242424;
    --font: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    --text: white
}
#ans{
    color: var(--text);
    background-color: var(--color);
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    font-weight: 548;
    overflow: auto;
    outline: none;
    resize: none;
    width: 50em;
    height: 60em;
    white-space: pre;
    position: relative;
    top: -80px;
    right: -180px;
}
.body{
    background-color: var(--color);
}
#in{
    color: var(--text);
    background-color: var(--color);
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    font-weight: 548;
    overflow: auto;
    outline: none;
    resize: none;
    width: 50em;
    height: 60em;
    white-space: pre;
    float: left;
    position: relative;
    left: 25px;
}
.JSON{
    color: var(--text);
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    position: absolute;
    left: 125px;
}
.output{
    color: var(--text);
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    font-weight: 548;
    position: absolute;
    right: 125px;
}