:root{
    --color: #292929;
    --font: 'Poppins', sans-serif;
    --text: white
}
#ans{
    color: var(--text);
    background-color: var(--color);
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    outline: none;
    resize: none;
    width: 98%;
    height: 45%;
    white-space: pre;
    position: absolute;
    bottom: 25px;
    border: 0;
    font-size: 14px;
    font-weight: 15;
}

#in{
    color: var(--text);
    background-color: var(--color);
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    outline: none;
    resize: none;
    width: 98%;
    height: 45%;
    white-space: pre;
    float: left;
    position: absolute;
    left: auto;
    border: 0;
    font-size: 14px;
    font-weight: 15;

}

#footer{
    position:absolute;
    bottom: 6px;
    color: var(--text);
    text-align: center;
    left: 0;
    right: 0;
    font-family: var(--font);
    font-size: 15px;
}

h1{
    font-family: var(--font);
    font: weight 1500px;
    color: var(--text);
    text-align: center;
    left: 0;
    right: 0;
}

body{
    background-color: var(--color);
}